.PricingToggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.PricingToggle .toggle {
    width: 50px;
    height: 25px;
    border: none;
    background-color: hsla(238, 63%, 64%, 0.735);
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
    cursor: pointer;
}

.PricingToggle .toggle:focus {
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");
}

.PricingToggle input:hover {
    background-color: hsla(238, 63%, 64%, 0.5);;
}